<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--suppress SqlDialectInspection -->
<mapper namespace="com.sn.gz.pmp.dsc.mapper.auth.MenuMapper">

    <select id="listFirstClassMenuList" resultType="com.sn.gz.pmp.dsc.entity.auth.Menu">
        SELECT
          id id,
          name name,
          authority authority,
          sort sort,
          map_key mapKey,
          parent_id parentId,
          leaf leaf,
          path path,
          access_allow accessAllow,
          icon_key iconKey,
          menu_type menuType
        FROM t_cust_menu
          WHERE
          parent_id IS NULL
          and leaf IS NULL
          order by sort
    </select>

</mapper>
